/*
* Author : Sidhin S Thomas 
* Email : sidhinthomas@gmail.com
*
*/
head,body{
	padding: 0;
	margin: 0;
}


nav ul li {
	display: inline;
	background-color: transparent;
	padding: 1vw;
	margin: 1vw;
	border-radius: 0.5vw;
	color: lightgreen;
}
nav {
	background-color: #303030;
	font-size: 1.5vw;
	width: 100vw;
	text-align: right;
	padding: 1.3vmax;
}
nav a:hover {
	background-color: #505050;
	border-radius: 1vw;
	padding: 1vw;
	font-style: bold;
}
@font-face{
	font-family: 'quote';
	src : url('../fonts/AlexBrush-Regular-OTF.otf');
}
#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}


.heading{
	font-size: 3vw;
	padding: 5vh 1vw 0 0 ;

}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.section{
	font-size: 1.5vw;
	margin: 2vw 0vw;
}
.large-margine-left{
	margin-left: 60vw;
}
#title-block {
	background-color: #202020;
	/*background-image: url('../images/title.gif') ;*/
	background-size: cover;
	
}

#title-quote {
	background-color: transparent;
	color : lightgrey;
	font-family: quote ;
	font-size: 8vw;
	text-align: right;
}

#first-block{
	background-color: #435774;
	color: white;
}
#first-block a {
	color: white;

}

#second-block{
	background-color: #2A3342;
}